body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

.caption{
    font-style: italic;
    font-size: 0.9em;
}

#main{
    background-color: white;
    width: 75%;
    height: 100%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-radius: 25px;
    padding: 5px;
    color: #3c3c4b;
}
 
#kangarooIsland{
    padding-left: 25%;
}